In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [3]:
train_df = pd.read_csv('cleaned training data/clean_training_split')
train_df['scaled_transformed_score'] = scaler.fit_transform(train_df[['sqrt_tranformed score']])
train_df

,Unnamed: 0,Id,Subject Focus,Eyes,Face,Near,Action,Accessory,Group,Collage,Human,Occlusion,Info,Blur,sqrt_tranformed score,scaled_transformed_score
0,5463,8cc110af9fa47a4722411c775e09f2e0,0,1,1,1,0,0,0,0,0,1,0,0,3.464102,0.159199
1,7981,cea6de0575e30fb38d2ce481ec309cfe,0,0,1,1,0,0,0,0,0,0,0,0,6.855655,0.598873
2,379,0a179efafacf11d83cea823dfedc773e,1,1,1,1,0,0,0,0,0,0,0,0,4.898979,0.345214
3,8217,d4eb73fcebde30f2210a8b1a0f8796cb,0,1,1,0,0,0,1,0,0,0,0,0,4.795832,0.331842
4,4700,78de7e6e09bec460ce89e6a49e6da509,0,1,1,0,0,0,0,0,0,0,0,0,7.681146,0.705887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8470,4544,74179c3f0a8efb4a2ccec5951c96917f,0,1,1,1,0,0,0,0,1,1,0,0,5.477226,0.420176
8471,117,0365920c849af714930d75e7727c5165,0,1,1,1,0,1,0,0,0,0,0,0,6.782330,0.589367
8472,5813,9672c1a2525baf25ade9b71429fb5f46,0,1,1,0,0,0,0,0,0,0,0,0,9.055385,0.884040
8473,5608,906deaa929c916cca8160e82856aed5b,0,1,1,1,0,1,0,0,1,0,0,0,5.916080,0.477068
8474,96,02a5a6417e5eb9694203e348741f76d0,0,1,1,1,0,0,0,0,0,0,0,0,7.000000,0.617585

In [4]:
x = train_df.drop(['Id','sqrt_tranformed score','scaled_transformed_score','Unnamed: 0'],axis=1)
y = train_df['scaled_transformed_score']
x

,Subject Focus,Eyes,Face,Near,Action,Accessory,Group,Collage,Human,Occlusion,Info,Blur
0,0,1,1,1,0,0,0,0,0,1,0,0
1,0,0,1,1,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0,0,0,0,0
3,0,1,1,0,0,0,1,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8470,0,1,1,1,0,0,0,0,1,1,0,0
8471,0,1,1,1,0,1,0,0,0,0,0,0
8472,0,1,1,0,0,0,0,0,0,0,0,0
8473,0,1,1,1,0,1,0,0,1,0,0,0
8474,0,1,1,1,0,0,0,0,0,0,0,0

In [29]:
from sklearn.neighbors import RadiusNeighborsRegressor

rnr = RadiusNeighborsRegressor(radius = 1.50, n_jobs =-1, leaf_size=15)
rnr.fit(x,y)

RadiusNeighborsRegressor(leaf_size=15, n_jobs=-1, radius=1.5)

In [30]:
x_val = pd.read_csv('test.csv')
x_val = x_val.drop(['Id'],axis=1)
x_val

,Subject Focus,Eyes,Face,Near,Action,Accessory,Group,Collage,Human,Occlusion,Info,Blur
0,1,0,1,0,0,1,1,0,0,1,0,1
1,0,1,0,0,0,0,1,1,0,0,0,0
2,0,0,0,1,0,1,1,1,0,1,1,1
3,1,0,1,0,0,0,0,0,0,0,1,0
4,1,1,1,0,1,1,0,1,0,1,1,0
5,0,0,1,1,1,1,1,1,1,0,1,0
6,1,0,0,0,1,1,0,1,0,1,1,1
7,1,0,1,0,0,0,0,0,1,0,0,1

In [31]:
predictions = pd.DataFrame(rnr.predict(x_val))
predictions

C:\Users\Andy Hoang-Cao\anaconda3\lib\site-packages\sklearn\neighbors\_regression.py:470: UserWarning: One or more samples have no neighbors within specified radius; predicting NaN.
  warnings.warn(empty_warning_msg)

          0
0  0.460708
1  0.508955
2       NaN
3  0.443265
4       NaN
5       NaN
6       NaN
7  0.452476

In [32]:
pred = np.square(scaler.inverse_transform(predictions))
pred

array([[33.52271164],
       [37.97082286],
       [        nan],
       [31.98275434],
       [        nan],
       [        nan],
       [        nan],
       [32.79142952]])

# Linear Model

In [33]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [34]:
train = pd.read_csv('cleaned training data/clean_training_split')
train

,Unnamed: 0,Id,Subject Focus,Eyes,Face,Near,Action,Accessory,Group,Collage,Human,Occlusion,Info,Blur,sqrt_tranformed score
0,5463,8cc110af9fa47a4722411c775e09f2e0,0,1,1,1,0,0,0,0,0,1,0,0,3.464102
1,7981,cea6de0575e30fb38d2ce481ec309cfe,0,0,1,1,0,0,0,0,0,0,0,0,6.855655
2,379,0a179efafacf11d83cea823dfedc773e,1,1,1,1,0,0,0,0,0,0,0,0,4.898979
3,8217,d4eb73fcebde30f2210a8b1a0f8796cb,0,1,1,0,0,0,1,0,0,0,0,0,4.795832
4,4700,78de7e6e09bec460ce89e6a49e6da509,0,1,1,0,0,0,0,0,0,0,0,0,7.681146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8470,4544,74179c3f0a8efb4a2ccec5951c96917f,0,1,1,1,0,0,0,0,1,1,0,0,5.477226
8471,117,0365920c849af714930d75e7727c5165,0,1,1,1,0,1,0,0,0,0,0,0,6.782330
8472,5813,9672c1a2525baf25ade9b71429fb5f46,0,1,1,0,0,0,0,0,0,0,0,0,9.055385
8473,5608,906deaa929c916cca8160e82856aed5b,0,1,1,1,0,1,0,0,1,0,0,0,5.916080
8474,96,02a5a6417e5eb9694203e348741f76d0,0,1,1,1,0,0,0,0,0,0,0,0,7.000000

In [35]:
x = train.drop(['Unnamed: 0', 'Id','sqrt_tranformed score'],axis=1)
y = train['sqrt_tranformed score']

In [36]:
lm.fit(x,y)

LinearRegression()

In [37]:
x_val = pd.read_csv('test.csv')

predictions = lm.predict(x_val.drop(['Id'], axis=1))

In [38]:
pred= np.square(predictions)
pred

array([36.12473033, 33.39897546, 34.1693964 , 35.37595963, 36.14593152,
       41.02558871, 32.52883456, 32.50799763])

In [50]:
submission = pd.DataFrame(pred, columns=['Pawpularity'])
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission

                                 Id  Pawpularity
0  4128bae22183829d2b5fea10effdb0c3        67.75
1  43a2262d7738e3d420d453815151079e        59.15
2  4e429cead1848a298432a0acad014c9d        20.02
3  80bc3ccafcc51b66303c2c263aa38486        94.53
4  8f49844c382931444e68dffbe20228f4        89.82
5  b03f7041962238a7c9d6537e22f9b017        65.50
6  c978013571258ed6d4637f6e8cc9d6a3        71.42
7  e0de453c1bffc20c22b072b34b54e50f         5.85

In [52]:
submission['Id'] = train['Id']
submission =submission[['Id','Pawpularity']]
submission

                                 Id  Pawpularity
0  8cc110af9fa47a4722411c775e09f2e0    36.124730
1  cea6de0575e30fb38d2ce481ec309cfe    33.398975
2  0a179efafacf11d83cea823dfedc773e    34.169396
3  d4eb73fcebde30f2210a8b1a0f8796cb    35.375960
4  78de7e6e09bec460ce89e6a49e6da509    36.145932
5  40a46855bdfa0bcff684d08b9002c61a    41.025589
6  adb89c2117da8d3b7dbde91c20b71285    32.528835
7  a8a31760a4075b12318d68373cab42e1    32.507998

In [53]:
submission.to_csv('petfinderPawpularitySubmission.csv')